{% extends "base.html" %}
{% block content %}
<h2>Our Sponsors</h2>
<ul>
    {% for sponsor in sponsors %}
    <li>{{ sponsor['name'] }} - <a href="{{ sponsor['url'] }}" target="_blank">{{ sponsor['url'] }}</a></li>
    {% endfor %}
</ul>

<h2>Degrees of Sponsorship</h2>

<h3>Patron Sponsor: $1-$350</h3>
<ul>
    <li>Name of sponsor will be published on our website’s sponsorship page</li>
</ul>

<h3>Bronze Sponsor: $351-$550</h3>
<ul>
    <li>Name of sponsor will be published on our website’s sponsorship page</li>
    <li>Name of sponsor will be printed in <strong>small</strong> font on our team t-shirt</li>
</ul>

<h3>Silver Sponsor: $551-$1,000</h3>
<ul>
    <li>Name and picture of sponsor + link to sponsor’s website on our website’s sponsorship page</li>
    <li>Name of sponsor will be printed in <strong>medium</strong> font on our team t-shirt</li>
    <li>Invitation to attend local competition</li>
</ul>

<h3>Gold Sponsor: $1,001-$5,999</h3>
<ul>
    <li>Name and picture of sponsor + link to sponsor’s website on our website’s sponsorship page</li>
    <li>Name of sponsor will be printed in <strong>large</strong> font on our team t-shirt + <strong>small</strong> company logo</li>
    <li>Invitation to attend local competition + company shoutouts on our social media pages</li>
    <li><strong>Small</strong> logo on banner (displayed at events and tournaments)</li>
</ul>

<h3>Platinum Sponsor: $6,000-$9,999</h3>
<ul>
    <li>Banner and link to sponsor’s website will be published on our website’s sponsorship page</li>
    <li>Name of sponsor and <strong>medium</strong> company logo will be printed on our team t-shirt</li>
    <li>Invitation to attend local competition + company shoutouts on our social media pages</li>
    <li><strong>Small</strong> company logo located on the Robot</li>
    <li><strong>Large</strong> company logo on banner</li>
    <li>Your company is thanked during competition alliance selections (nationally televised)</li>
</ul>

<h3>Diamond Sponsor: $10,000+</h3>
<ul>
    <li>Banner and link to sponsor’s website will be published on our website’s sponsorship page</li>
    <li>Name of sponsor and <strong>large</strong> company logo will be printed on our team t-shirt</li>
    <li>Invitation to attend local competition + company shoutouts on our social media pages</li>
    <li><strong>Large</strong> company logo located on the Robot</li>
    <li><strong>Large</strong> company logo on banner</li>
    <li>Your company is thanked during competition alliance selections (nationally televised) + company logo featured on all flyers and newsletters</li>
</ul>

<p>Thank you very much for supporting Andover Central Robotics!</p>

<h2>Contact Us</h2>
<p><strong>Erika Barron, Head Coach</strong></p>
<p>📞 (906)-399-3456 | ✉️ <a href="mailto:barrone@usd385.org">barrone@usd385.org</a></p>

{% endblock %}
